.header__nav.header__nav_login {
    width: 425px;

    @media screen and (max-width: 890px) {
        max-width: 354px;
    }

    @media screen and (max-width: 630px) {
        max-width: none;
        width: 100%;
    }
}