.about__image {


    @media screen and (max-width: 1370px) {
        width: 300px;
    }

    @media screen and (max-width: 1050px) {
        width: 232px;
        height: 232px;
    }

    @media screen and (max-width: 890px) {
        margin-top: 20px;
    }
}