@import './__content-title/results__content-title.scss';
@import './__button/results__button.scss';
@import './results_saved-news/results_saved-news.scss';

.results {
    padding: 80px 0;
    background-color: $background-color;
    display: none;

    @media screen and (max-width: 890px) {
        padding: 41px 0;
    }

    @media screen and (max-width: 330px) {
        padding: 33px 0;
    }
}