.about__content-title {
    margin: 0 0 24px 0;

    font-family: $font-prefix-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;

    color: $color-two;

    @media screen and (max-width: 1050px) {
        font-size: 30px;
        line-height: 40px;
    }

    @media screen and (max-width: 890px) {
        margin-bottom: 16px;
    }
}