@import './__line/burger-menu__line.scss';

.burger-menu {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 16px;
    margin: 0 auto;
    
    cursor: pointer;

    &.burger-menu_active .burger-menu__line:nth-child(1){
      -webkit-transform: translateY(7px) rotate(40deg);
      -ms-transform: translateY(7px) rotate(40deg);
      -o-transform: translateY(7px) rotate(40deg);
      transform: translateY(7px) rotate(40deg);
    }
   
    &.burger-menu_active .burger-menu__line:nth-child(2){
      -webkit-transform: translateY(0) rotate(-40deg);
      -ms-transform: translateY(0) rotate(-40deg);
      -o-transform: translateY(0) rotate(-40deg);
      transform: translateY(2px) rotate(-40deg);
    }

    @media screen and (min-width: 630px) {
        display: none;
    }
  }