.search__content-title {
    max-width: 350px;
    margin-bottom: 32px;
    font-family: $font-prefix-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 64px;
    color: $color-one;
}