@import './__button/news__button.scss';

.news {
    padding: 62px 0;
    background-color: $background-color;

    @media screen and (max-width: 890px) {
        padding: 32px 0;
    }

    @media screen and (max-width: 400px) {
        padding: 25px 0 11px;
    }
}