.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 104px 13px;
    background: rgba(196, 196, 196, 0.01);
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);

    @media screen and (max-width: 890px) {
        padding: 15px 40px 13px;
    }

    @media screen and (max-width: 560px) {
        padding: 15px 16px 17px;
    }
}