$font-regular: "Roboto Regular", Arial, sans-serif;
$font-medium: "Roboto Medium", Arial, sans-serif;
$font-prefix-regular: "Roboto Slab Regular", Arial, sans-serif;

$color-one: #fff;
$color-two: #000;
$color-three: #B6BCBF;

$button-normal: #2F71E5;
$button-hover: #347EFF;;
$button-marked: #2A65CC;;
