@import './_disabled/form-authorization__submit_disabled.scss';

.form-authorization__submit {
    height: 64px;
    border-radius: 100px;
    margin-bottom: 16px;

    cursor: pointer;
    
    background-color: $button-normal;

    font-family: $font-medium;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: $color-one;

    &:hover {
        background-color: $button-hover;
    }

    &:focus {
        background-color: $button-marked;
    }
}