@import './_hint/cards__paragraph_hint.scss';

.cards__paragraph {
    padding: 0 15px;
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: $color-two;

    @media screen and (max-width: 890px) {
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 9px;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;  
        overflow: hidden;
    }

    @media screen and (max-width: 800px) {
        padding: 0;
    }
}