@import './_login/header__nav_login.scss';

.header__nav {
    width: 278px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4px;
    position: relative;
}