@import './_focus/cards__bookmark_focus.scss';

.cards__bookmark {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    background-color: $background-color-two;

    &:hover .cards__svg_path {
        stroke: #1A1B22;
    }

    &:hover .cards__hint {
        display: flex;
    }

    @media screen and (max-width: 890px) {
        top: 8px;
        right: 8px;
    }

    @media screen and (max-width: 968px) {
        &:hover .cards__hint {
            display: none;
        }
    }
}