.about__paragraph {
    max-width: 613px;
    margin-bottom: 23px;
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;

    color: $color-two;

    @media screen and (max-width: 890px) {
        max-width: 420px;
    }
}