.cards__delete {
    position: absolute;
    top: 24px;
    right: 24px;
    cursor: pointer;

    width: 40px;
    height: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 8px;

    background-color: $background-color-two;

    &:hover .cards__path_delete {
        fill: #1A1B22;
    }

    &:hover .cards__hint {
        display: flex;
    }
}