.form-authorization__label {
    margin-bottom: 9px;
    
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;

    color: $button-normal;
}