.cards__not-login {
    position: absolute;
    top: 0;
    right: 48px;
    width: 182px;
    height: 40px;

    display: none;
    justify-content: center;
    align-items: center;

    background: $background-color-two;
    box-shadow: 0px 10px 22px rgba(59, 74, 116, 0.1);
    border-radius: 10px;
}