@import './_success/form-authorization__paragraph_success.scss';

.form-authorization__paragraph {
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: $color-two;
}