.results__content-title {
    margin: 0 0 64px 104px;
    padding-top: 80px;

    font-family: $font-prefix-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
    line-height: 46px;

    color: $color-two;
}