@import './__button/header__button.scss';
@import './__link/header__link.scss';
@import './__logo/header__logo.scss';
@import './__nav/header__nav.scss';
@import './__container/header__container.scss';
@import './__svg/header__svg.scss';
@import './__link-logo/header__link-logo.scss';
@import './__path/header__path.scss';

.header {
    position: sticky;
    width: 100%;
    max-width: 1440px;
}