@import './__content-title/saved__content-title.scss';
@import './__paragraph/saved__paragraph.scss';
@import './__span/saved__span.scss';

.saved {
    padding-left: 104px; 

    @media screen and (max-width: 890px) {
        padding-left: 40px;
    }

    @media screen and (max-width: 400px) {
        padding-left: 16px;
    }
}