.footer__copy {
    font-family: $font-regular;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    color: $color-three;

    @media screen and (max-width: 760px) {
        order: 1;
    }
}